<pane title="搜索" glyp="search">
	<div class="form-horizontal">
		<div class="form-group form-group-sm">
			<label class="control-label col-md-1">消息标题</label>
			<div class="col-md-3">
				<div class="input-group">
					<text ng-model="s.title" empty="请输入消息标题" />
					<span class="input-group-btn">
						<button size="2" ng-click="$search()">
							<i class="glyphicon glyphicon-search"></i>搜索
						</button>
					</span>
				</div>
			</div>
			<button size="2" ng-click="$refresh()">
				<i class="glyphicon glyphicon-refresh"></i>刷新
			</button>
		</div>
	</div>
</pane>
<div class="pane">
	<div class="pane-header">
		<div class="pane-icon"><span class="glyphicon glyphicon-list"></span></div>
		<div class="pane-title">{{title}}列表</div>
	</div>
	<grid class="tables" cols="[
{label:'编号',width:50,type:'number',align:'center'},
{label:'ID',width:50,name:'id',align:'center'},
{label:'消息标题',name:'title'},
{label:'已读人数',width:80,name:'read',align:'center'},
{label:'未读人数',width:80,name:'unread',align:'center'},
{label:'创建或更新时间',type:'date',class:'time',name:['created','updated'],width:140},
{label:'操作',width:110,align:'center',name:'id',type:'action',items:['view','notify']}
]" items="rows" page="page" goto="$reload" sort="$sort" status="$status" click="$click" notify="$notify" remove="$remove" />
</div>