<pane title="{{action}}消息类型" glyp="list">
<ext-form cols="2,6" action="{:U(ACTION_NAME)}" pk="id" val="{{id}}" route="true">
    <ext-form-item label="分类名称">
        <ext-form-item-text name="title" empty="请输入分类名称" />
    </ext-form-item>
    <ext-form-item label="分类简介">
        <ext-form-item-textarea name="remark" empty="请输入分类简介" />
    </ext-form-item>
    <ext-form-buttons>
        <submit col="2" text="保存" />
        <button col="2" ng-click="$lists()">返回</button>
    </ext-form-buttons>
</ext-form>
</pane>